.menu-principale-container ul {
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    list-style-type: none;
    padding: 10px;
}


.menu-principale-container li a {
    text-decoration: none;
    color: black;
}